@media (width <=768px) {
  /* reuseable classes -------------- */

  .container {
    margin: 0 0;
    padding: 0 1rem;
  }

  .section-title .paragraph {
    font-size: 16px;
  }

  /* header-section -------------------- */
  .header-section {
    width: 100%;
    height: 100%;
    justify-content: start;
    background-color: transparent;
    transition: var(--transition);
    transform: translateX(-100%);
  }

  .header-section .div {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--text-color);
  }

  .header-section .nav {
    width: 100%;
  }

  .header-section .nav ul .link-list:hover .link span {
    color: var(--background);
  }

  .header-section {
    & .nav {
      & ul {
        & .link-list {
          width: 100%;
          background-color: var(--text-color);
          border: 1.5px solid var(--background);
          & .link {
            & span {
              color: var(--background);
            }
            & ion-icon {
              color: var(--background);
            }
          }
        }
      }
    }
  }
  .nav ul .link-list:hover .link span,
  .nav ul .link-list:hover .link ion-icon {
    color: var(--background) !important;
  }
  .header-section.nav-active {
    transform: translateX(0%);
  }

  /* hero-section ---------------------- */

  .hero-section {
    & .section-top {
      & .menu-bar {
        display: block;
      }
    }
    & .section-mid {
      & .container {
        grid-template-columns: repeat(1, 1fr);

        & .left-side {
          align-items: center;
          order: 1;
        }
      }
    }
  }
  /* skill-section -------------------- */
  .skill-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }

  .skill-section .skills {
    margin-top: 0;
    width: 100%;
  }

  .skill-section .skills .skill-box {
    padding: 0 1rem;
    grid-template-columns: 1fr;
  }

  /* project-section -------------------- */
  .project-section {
    padding: 1rem;
    margin-top: 2rem;
  }

  .project-section .project-container .card-container {
    padding: 0;
    height: 40rem;
  }

  .project-section .project-container .card-container {
    grid-template-columns: 1fr !important;
  }

  .project-section .card-container .card:hover .card-overlay::before {
    top: 15px;
    left: 15px;
  }

  .project-section .card-container .card:hover .card-overlay::after {
    bottom: 15px;
    right: 15px;
  }

  .card-overlay .info {
    gap: 5px;
    left: 2rem;
    bottom: 1rem;
  }

  .card-overlay .info .name {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  .card-overlay .info .description {
    font-size: 12px;
    font-weight: 400;
    max-width: 100%;
  }

  /* contact-section ----------------- */
  .contact-section {
    margin-top: 3rem;
    padding-bottom: 1rem;
  }

  .contact-section .grid-two-cols {
    margin-top: 2rem;
    padding: 1rem;
    grid-template-columns: 1fr;
    gap: var(--space-x-y);
  }

  .top-button {
    bottom: 10%;
    right: 5%;
  }

  /* footer-section ------------------- */
  .footer-section {
    height: 30vh;
  }
}

@media (width <=668px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section-mid {
    height: 70%;
    & .container {
      gap: 2rem;
      & .left-side {
        & .heading span {
          text-align: center;
          font-size: 2.5rem;
        }
        & .h-description {
          & span {
            font-size: 1.1rem;
          }
        }
      }

      & .right-side {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
  .section-bottom {
    height: 30%;
    & .container {
      grid-template-columns: 1fr;
      place-content: start;

      & .social-link-card {
        height: 4rem;
        padding: 1rem;
      }
    }
  }

  .footer-section {
    & .container {
      & h4 {
        font-size: 2rem;
        margin-top: 2rem;
      }

      & .copyright {
        font-size: 15px;
      }

      & .credits {
        font-size: 14px;
      }
    }
  }
}
@media (768px <=width <=1000px) {
  #main {
    margin: 0 1.5rem 0 6rem;
  }

  .container {
    margin: 0 1.5rem 0 6rem;
  }

  .hero-section .left .my-name {
    font-size: 3rem;
  }

  .hero-section .left .about {
    width: 100%;
  }
}
