.footer-section {
  --background: #b5b5b5;
  height: 25vh;
  border-top: 1px solid var(--background);
}

.footer-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.footer-section .container h4 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.footer-section .container .social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-section .container .social-links a ion-icon {
  color: var(--background);
  transition: var(--transition);
}

.footer-section .container .social-links a ion-icon:hover {
  color: var(--background) !important;
}

.footer-section .container .credits a {
  --background: #0058fb;
  font-weight: 600;
  color: var(--background);
}
