.header-section {
  position: fixed;
  top: 0;
  left: 5px;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  & .nav {
    & ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      & .link-list {
        position: relative;
        width: 40%;
        transition: var(--transition);
        border-radius: 3px;
        border: 1.5px solid black;

        &:hover {
          border: 1.5px solid var(--background);
          background-color: transparent;
        }

        & .link {
          display: flex;
          width: 120px;
          height: 53px;
          gap: 7px;
          justify-items: center;
          padding: 13px;
          overflow: hidden;

          & span {
            color: transparent;
          }
        }
        &:hover .icons {
          color: var(--background);
        }
      }

      & .link-list:hover {
        width: 100%;
      }
      & .link-list:hover .link span,
      .link-list:hover .link ion-icon {
        transition: var(--transition);
        color: var(--background) !important;
      }
    }
  }
}
