.project-section {
  height: 90vh !important;
}

.project-container {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding: 1rem 1rem;
}

.project-section .card-container {
  padding: 1.5rem;
  overflow-y: auto;
  gap: 10px;
  width: 100%;
  height: 30rem;
}

.project-section .card-container .card {
  position: relative;
  width: 100%;
  height: fit-content;
}

.project-section .card-container .card .card-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-section .card-container .card .card-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: 100% 100%;
}

.project-section .card-container .card .card-img::before {
  --text-color: #ffffffd0;
  content: "";
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  background-color: var(--text-color);
  transition: var(--transition);
  opacity: 0;
}

.project-section .card-container .card .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: var(--transition);
}

.project-section .card-container .card .card-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  opacity: 0;
  border-top: 2px solid var(--background);
  border-left: 2px solid var(--background);
  transition: var(--transition);
}

.project-section .card-container .card .card-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  opacity: 0;
  border-bottom: 2px solid var(--background);
  border-right: 2px solid var(--background);
  transition: var(--transition);
}

.project-section .card-container .card:hover .card-img::before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.project-section .card-container .card:hover .card-overlay::before {
  top: 40px;
  left: 40px;
  opacity: 1;
}

.project-section .card-container .card:hover .card-overlay::after {
  bottom: 40px;
  right: 40px;
  opacity: 1;
}

.card-overlay .info {
  display: none;
  position: absolute;
  gap: 5px;
  left: 3rem;
  bottom: 2rem;
}

.project-section .card-container .card:hover .card-overlay .info {
  display: block;
}

.card-overlay .name {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--background);
  text-transform: uppercase;
}

.card-overlay .description {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  max-width: 85%;
  color: var(--background);
}

.card-overlay .projects-links {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.card-overlay .projects-links ion-icon {
  color: var(--background) !important;
}
