.skill-section {
  margin-top: 3.5rem;
  height: 85vh !important;
}

.skills {
  margin-top: 2.5rem;
}

.skill-box {
  --space-x-y: 1.5rem;
  width: 100% !important;
  margin: 1rem 0;
  padding: 1rem 0;
  gap: var(--space-x-y);
  place-items: start;
}

.skill-box .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: var(--transition);
}

.box .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-box .progress {
  padding: 10px 1px;
}

.progress .tech-name {
  display: flex;
  justify-content: center;
  align-items: center;
  --space-x-y: 5px;
  text-transform: uppercase;
  font-weight: 600;
  gap: var(--space-x-y);
}

.progress .val {
  font-weight: 600;
}

.progress .progress-bar {
  --text-color: #cfcfcf;
  width: 100%;
  height: 7px;
  margin: 5px 0px;
  background-color: var(--text-color);
}

.red {
  color: var(--red);
  margin-top: 4px;
}

.blue {
  color: var(--blue);
  margin-top: 4px;
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.size {
  font-size: 1.3rem;
}

.ts-logo {
  background-color: var(--blue);
  position: relative;
  border-radius: 3px;
}

.ts-logo .typescript {
  text-transform: uppercase;
  color: var(--background);
  font-size: 11px;
  padding: 4px;
}

.percentage {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 0%;
  height: 100%;
  transition: all 3s;
}
