@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --text-color: #fff;
  --background: #0e0e0e;
  --red: #ff0000;
  --green: #18af04;
  --yellow: #ffd000;
  --blue: #0077ff;
  --transition: 0.5s;
  --space-x-y: 16px;
}

::selection {
  color: var(--text-color);
  background-color: var(--background);
}

body {
  max-width: 1500px !important;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* Reuseable Classes --------------------- */

.active {
  color: var(--text-color);
  background: var(--bg-color) !important;
}

.section {
  width: 100%;
  /* height: 100vh; */
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.select {
  user-select: none;
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section-title h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
}

.section-title h2::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100px;
  height: 2px;
  margin: 0 auto;
  background-color: var(--background);
}

.btn {
  padding: 8px 20px;
  font-size: 17px;
  outline: none;
  width: fit-content;
  text-transform: capitalize;
  border: var(--background) solid 0.1px;
  color: var(--text-color);
  border-radius: 4px;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.top-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: var(--background);
  cursor: pointer;
  transition: opacity 0.5s linear;
}

/* scroll-bar --------------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 5px;
}

.project-section .card-container::-webkit-scrollbar {
  width: 3px;
}

.project-section .card-container::-webkit-scrollbar-thumb {
  --background: #1a1919;
  background: var(--background);
}

.section-bottom {
  & .container {
    & .social-link-card .social-icon {
      color: var(--background);
    }
    & .social-link-card:hover .social-icon {
      color: var(--text-color);
      transition: var(--transition);
    }
  }
}

.project-section .card-container .card .card-img::before {
  --text-color: #ffffffd0;
  content: "";
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  background-color: var(--text-color);
  transition: var(--transition);
  opacity: 0;
}

.project-section .card-container .card .card-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  opacity: 0;
  border-top: 2px solid var(--background);
  border-left: 2px solid var(--background);
  transition: var(--transition);
}

.project-section .card-container .card .card-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
  opacity: 0;
  border-bottom: 2px solid var(--background);
  border-right: 2px solid var(--background);
  transition: var(--transition);
}

.project-section .card-container .card:hover .card-img::before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.project-section .card-container .card:hover .card-overlay::before {
  top: 40px;
  left: 40px;
  opacity: 1;
}

.project-section .card-container .card:hover .card-overlay::after {
  bottom: 40px;
  right: 40px;
  opacity: 1;
}

.project-section .card-container .card:hover .card-overlay .info {
  display: block;
}

.contact-section .grid-two-cols {
  margin-top: 2.5rem;
  grid-template-columns: 40% 58%;
  gap: var(--space-x-y);
}
